.input-group-text{
    margin-left: 20px;
    background-color: rgb(52, 122, 50);
    color: white;
    border-color: rgb(52, 122, 50);
}

.card{
    display: flex;
    position: relative;
    background-color: rgb(189, 188, 188);
    top: 50px;
    left: 300px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 8px #353434;

}
.card-body h5{
    color: rgb(25, 66, 14);
}
.card-body{
    color: white;
}
.card-body a{
    width: 100%;
}
.card-body p span{
    color: rgb(25, 109, 22);
}
.card-body h6 span{
    color: rgb(76, 1, 78);
}